go 1.21.5

use (
	./Watermelon
    ./WayTooLongWords
    ./Team
    ./RatingIncrease
    ./NextRound
    ./Bit++
    ./DominoPiling
    ./BeautifulMatrix
    ./PetyaAndStrings
    ./WordCapitalization
    ./GreatElementalMergeQuest
    ./MarblesBindFriendship
    ./Prof.KPassword
    ./ProblemPizza
    ./Badminton
    ./HogwartsMagicalLibrary
    ./MagicalUpdate
    ./SubspellPowerLength
    ./WorkerCyclePlan
    ./Furik-KingOfPoisons
    ./BobsAuto-CorrectAdventure
    ./ATuhsProject
    ./HelpfulMaths
    ./BoyOrGirl
    ./BearAndBigBrother
)